*{
    box-sizing: border-box;
    font-family: Calibri;
}
body{
    margin: 0;
    padding: 0;
}
/* FIRST CONTAINER */
.first-container{
    width: 100%;
    height: 140vh;
    background: url("bg new.jpg");
    background-size: cover;
    background-position: center;
}

/* Header for first-container */
.first-container nav{
    width: 100%;
    height: 70px;
}
.first-container nav h1{
    width: 25%;
    margin: 0;
    float: left;
    position: absolute;
    left: 0;
    padding: 1%;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.first-container input, .first-container nav label{
    display: none;
}
.first-container nav ul{
    display: flex;
    width:57%;
    margin: 0;
    float: left;
    position: absolute;
    right: 0;
}
.first-container nav ul li{
    padding: 35px 35px 20px 20px;
    list-style: none;
}
.first-container nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

/* left panel for first container */
.first-container .left-container{
    width: 60%;
    margin: 0;
    float: left;
}

.first-container .left-container .header{
    color: white;
    padding-left: 12%;
}
.first-container .left-container .header h2{
    font-family: FreeMono, monospace;
    font-weight: normal;
    font-size: 50px;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}
.first-container .left-container .header h2 .required-text{
    background: url("shap1.PNG") no-repeat;
    background-size: cover;
    font-size: 50px;
    color:teal;
    word-spacing: normal;
    letter-spacing: normal;
    background-position: center; 
}
/* start now button */
.first-container .left-container .button-container{
    width: 50%;
    padding-left: 12%;
    float: left;
}
.first-container .left-container .button-container button.start-now{
    background: url("stat.png");
    background-size: cover;  
    border: none;
    width: 200px;
    height: 70px;
}

/* text container */
.first-container .left-container .text-container{
    width: 50%;
    float: left;
    margin: 0;
    letter-spacing: 0.05em;
}
.first-container .left-container .text-container p{
    margin: 0;
    font-size: 20px;
    color: white;
    font-family: Calibri;
    line-height: 1.7em;
   
}
.first-container .left-container .lady-image-container{
    position: absolute;
    margin: 0;
}
.first-container .left-container .lady-image-container img{
    position: absolute;
    bottom: -589px;
    left: 100px;
    margin: 0;
}

/* right panel for first container */
.first-container .right-container{
    width: 40%;
    margin: 0;
    float: left;
}
.first-container .right-container .text{
    color: white;
    position: relative;
    top: 100px;
    font-size: 20px;
}
.first-container .right-container .calculator-container{
    margin: 0;
    width: 60%;
    height: auto;
    color: white;
    background-color: rgb(2, 32, 32);
    padding: 20px 30px 30px 30px;
    position: relative;
    top: 80px;
}
.first-container .right-container .calculator-container .header{
    text-align: center;
}

/* USA */
.first-container .right-container .calculator-container .usa-field-container{
    width: 100%;
    height: 60px;
    margin: 0;
    border: gray solid 1px;
    border-radius: 6px;
    background-color: rgb(15, 48, 48);
}
.first-container .right-container .calculator-container .usa-field-container .you-send-container{
    padding: 10px;
    width: 50%;
    float: left;
    margin: 0;
    font-weight: lighter;
}
.first-container .right-container .calculator-container .usa-field-container .you-send-container p{
    margin: 0;
    font-size: 12px;
}
.first-container .right-container .calculator-container .usa-field-container .you-send-container h3{
    margin: 0;
}
.first-container .right-container .calculator-container .usa-field-container .usa-option-container{
    width: 50%;
    height: 50px;
    float: left;
    margin: 0;
    text-align: right;
    padding: 15px 10px 0 0;
}
.first-container .right-container .calculator-container .usa-field-container .usa-option-container select{
    background-color: rgb(2, 32, 32);
    color: white;
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}


/* FAST TRANSFER */
.first-container .right-container .calculator-container .fast-transfer-container{
    width: 90%;
    height: 80px;
    text-align: center;
    padding-top: 25px;
    margin: auto;
    font-size: 14px;
    border-left: solid gray 1px;
}
.first-container .right-container .calculator-container .fast-transfer-container .plus-button-container{
    position: absolute;
    left: 33px;
    margin-top: 5px;
    border-radius: 100%;
    background: rgb(15, 48, 48);
    color: white;
    width: 22px;
    height: 22px;
}
.first-container .right-container .calculator-container .fast-transfer-container .plus-button{
    border: solid gray 1px;
    border-radius: 70%;
    background: rgb(15, 48, 48);
    color: white;
    width: 100%;
    height: 100%;
}
.first-container .right-container .calculator-container .fast-transfer-container .amount{
    width:30%;
    float: left; 
    padding: 5px;
    text-align: right;
}
.first-container .right-container .calculator-container .fast-transfer-container select{
    width: 45%;
    float: left;
    padding: 5px;
    border-radius: 4px;
    border: gray solid 1px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(2, 32, 32);
    color: white;
}
.first-container .right-container .calculator-container .fast-transfer-container .fee{
    width: 20%;
    float: left;
    text-align: left;
    padding: 5px;
}

/* BRAZIL */
.first-container .right-container .calculator-container .brazil-field-container{
    width: 100%;
    height: 60px;
    margin: 0;
    border: gray solid 1px;
    border-radius: 6px;
    background-color: rgb(15, 48, 48);
}
.first-container .right-container .calculator-container .brazil-field-container .you-send-container{
    width: 50%;
    float: left;
    margin: 0;
    font-weight: lighter;
    padding: 10px;
}
.first-container .right-container .calculator-container .brazil-field-container .you-send-container p{
    margin: 0;
    font-size: 12px;
}
.first-container .right-container .calculator-container .brazil-field-container .you-send-container h3{
    margin: 0;
}
.first-container .right-container .calculator-container .brazil-field-container .brazil-option-container{
    width: 50%;
    height: 50px;
    float: left;
    margin: 0;
    text-align: right;
    padding: 15px 10px 0 0;
}
.first-container .right-container .calculator-container .brazil-field-container .brazil-option-container select{
    background-color: rgb(2, 32, 32);
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* BUTTON */
.first-container .right-container .calculator-container .send-now-button{
    width: 100%;
    padding-top: 20px;
}
.first-container .right-container .calculator-container .send-now-button button{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color:rgb(204, 182, 95);
    border: none;
    font-weight: bold;
    font-size: 14px;

}

/* MAIN */
.main{
    width: 100%;
    text-align: center;
    height: auto;
}

/* SECOND CONTAINER */
.second-container{
    width: 40%;
    background-color: teal;
    padding: 80px 50px 70px 50px;
    text-align: center;
    float: left;
    height: 250px;
}
.second-container h2{
    font-family: FreeMono, monospace;
    font-weight: normal;
    word-spacing: 0.07em;
    letter-spacing: 0.06em;
    color: white;
    width: 70%;
    text-align: left;
    margin: auto;
}
.second-container h2 .created-text{
    background: url("shap1.PNG") no-repeat;
    background-size: cover;
    color:teal;
    word-spacing: normal;
    letter-spacing: normal;
    background-position: center; 
    padding: 0 10px 0 10px;
}
/* THIRD CONTAINER */
.third-container{
    width: 30%;
    float: left;
    background: rgb(243, 235, 235);
    text-align: left;
    margin: auto;
    padding: 50px;
    height: 250px;
}

/* FOURTH CONTAINER */
.fourth-container{
    width: 30%;
    background-color: rgb(236, 223, 223);
    float: left;
    text-align: left;
    margin: auto;
    padding: 50px;
    height: 250px;
}

/* FIFTH CONTAINER */
.fifth-container{
    width: 100%;
    height: auto;
}

/* Left container */
.fifth-container .left-container{
    width: 50%;
    height: 100vh;
    float: left;
    text-align: center;
    padding: 100px 0 0 0;
}
.fifth-container .left-container .man-picture-container{
    width: 60%;
    height: 80%;
    margin: auto;
    background: url(man-bg.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.fifth-container .left-container .man-profile-container{
    width: 45%;
    height: 40%;
    position: relative;
    bottom: 150px;
    right: -350px;
    background-color: white;
    box-shadow: 2px 3px 5px darkslategray;
}
.fifth-container .left-container .man-profile-container .profile-picture{
    padding-top: 40px;
}
.fifth-container .left-container .man-profile-container .profile-picture img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


/* Right container */
.fifth-container .right-container{
    width: 50%;
    float: left;
    height: 90vh;
    height: 100vh;
    padding-top: 100px;
    margin: auto;
    text-align: left;
}
.fifth-container .right-container .text-container{
    width: 80%;
    height: 80%;
    margin: auto;
    padding-left: 20px;
}

.fifth-container .right-container .text-container h2{
    font-family: FreeMono, monospace;
    font-weight: bold;
    word-spacing: 0.07em;
    letter-spacing: 0.06em;
    font-size: 30px;
    color:  rgb(2, 32, 32);
    padding-left: 20px;

}
.fifth-container .right-container .text-container h2 .yourself-text{
    background: url("shap1.PNG") no-repeat;
    background-size: cover;
    color: rgb(2, 32, 32);
    word-spacing: normal;
    letter-spacing: normal;
    background-position: center; 
    padding: 0 10px 0 10px;
}

.fifth-container .right-container .text-container .main-text-container{
    font-size: 17px;
    line-height: 1.5em;
    padding-left: 20px;
}

.fifth-container .right-container .text-container ul{
    list-style-image: url(list-img.png);
}

.fifth-container .right-container .text-container ul li{
    line-height: 2em;
    font-weight: bold;
}

.fifth-container .right-container .text-container .learn-more-button{
    background: url("learn\ more.PNG") no-repeat;
    background-size: contain;
    width: 150px;
    height: 50px;
    border: none;
    margin-left: 20px;
}